<div class="signIn">
  <div class="input">

    <div class="input-desc">
      <p> Email Address </p>
      <input [(ngModel)]="email" type="text" placeholder="Your email">
      <p *ngIf="isErrorToggled" class="error"> Email is invalid </p>
    </div>

    <div class="input-desc">
      <p> Password </p>
      <input [(ngModel)]="password" type="password" placeholder="Your password">
      <p *ngIf="isErrorToggled" class="error">Password should be at least 6 characters in length</p>
    </div>
  </div>

  <button class="submit-button" (click)="signIn()">
    Sign in
  </button>
</div>