/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

html {
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #3D72A4;
  --main-bg: #DBDCDE;
  --mainbrand-student: #0069FF;
  --green-student: #14CD73;
  --red-student: #F55466;
  --shadow-student: #F1F1F1;
  --yellow-main: #FCEA03;
  font-family: 'Roboto', sans-serif;

  background: var(--yellow-main);
}
