.Icon {
    background-color: var(--color-g-stroke);
    border-radius: var(--theme-border-radius-l);
    
    padding: 5px;
    
    width: 30px;
    height: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}