@keyframes bigtitle {
  0% {
    transform: translate(-1000vw);
  }

  100%{
    transform: translate(0);
    
  }
}

@keyframes home {
  0%{
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.big-title {
  font-family: 'TTFirsNeue-BlackItalic', sans-serif;
  font-style: italic;
  font-size: 25vw;
  display: block;
  width: 100vw;
  word-break: break-all;
  margin: -3% -5%;
  line-height: 24vw;
  // animation: bigtitle 0.5s ease 0 1 forwards;
  
  &.first {
    animation: bigtitle 0.5s ease  1  forwards;
  }
  &.second {
    animation: bigtitle 1s ease  1  forwards;
  }
}


.raves {
  animation: home 2.5s ease  1  forwards;

  .rave-wrapper{
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;

    .next,
    .prev {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 45%;
      z-index: 4;
    }    

    .next{
      left: 10px;
    }
    .prev {
      right: 10px;
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    display: flex;
    transition: 0.5s ease all;

    
    .rave {
      width: 500px;

      &__title {
        text-align: center;
      }
    }
  }
}
