.home-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  padding-top: 3%;

  @media (max-width: 560px) {
    flex-direction: column;
  }

  .job-title {
    width: 50%;
    align-self: flex-start;
  }
}
