.leftside {
  width: 50%;

  @media (max-width: 400px) {
    width: 80%;
  }

  .leftside-item {

    a {
      text-decoration: none;
    }

    &__text {
      color: var(--black-color);
    }

    &__link {
      font-size: 1.5rem;
      color: var(--black-color);
      transition: var(--common-transition);
      display: inline-flex;
      align-items: center;
      position: relative;
      margin-top: 2rem;
      z-index: 2;

      img {
        transition: var(--common-transition);
      }

      &:hover {
        color: var(--white-color);

        img {
          filter: invert(1);
        }

        .leftside-item__text {
          color: var(--white-color);
        }

        &:before {
          transform: none;
        }
      }

      &--disabled {
        &:hover  {
          img {
            filter: none;
          }
        }
      }

      img {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 10px;
      }

      &:before {
        position: absolute;
        top: 0;
        right: -.25rem;
        bottom: 0;
        left: -.25rem;
        z-index: 1;
        content: "";
        background: rgba(0, 0, 0, 0.5);
        border-radius: .3em;
        opacity: .2;
        transition: all .2s;
        transform: scaleY(.06);
        transform-origin: 0 100% 0;
      }
    }

    &__description {
      font-size: 1rem;
      color: black;
    }
  }
}
