.Link {
    display: flex;
    align-items: center;
    color: var(--color-g-text);
    text-decoration: none;

    &__Text {
        margin-left: 5px;
        font-size: 16px;
        line-height: 18px;
    }

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}
