.front-page {
  padding: 10vh;

  @media (max-width: 400px) {
    padding: 5vh;

    .navigation {
      font-size: 1rem;
    }

    .projects-list {
      margin: 0;
      padding: 0;
    }
  }

  .link {
    margin-left: 25px;
  }

  .projects {

    &-list {
      display: flex;
      flex-direction: column;

      .navigation {
        img {
          margin: 0;
        }
      }

      &__item {
        width: fit-content;
      }
    }
  }
}
