.leftside-block {
  &__link {
    font-size: 1.5rem;
    color: var(--black-color);
    transition: 0.3s all ease;
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 2rem;

    img {
      transition: .3s all ease;
    }
    
    a {
      color: var(--black-color);
      transition: .3s all ease;
    }

    &:hover {
      img {
        filter: invert(1);
      }
      
      a {
        color: white;
      }

      &::before {
        transform: none;
      }
    }

    img {
      display: block;
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    &::before {
      position: absolute;
      top: 0;
      right: -.25rem;
      bottom: 0;
      left: -.25rem;
      z-index: -1;
      content: "";
      background: currentColor;
      border-radius: .3em;
      opacity: .2;
      transition: all .2s;
      transform: scaleY(.06);
      transform-origin: 0 100% 0;
    }
    
  }


  &__description {
    font-size: 1rem;
  }

}