.page404 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    width: 50%;
    height: 50%;
    display: block;
  }

  &__text {
    h1 {
      font-size:96px;
      margin: 0;
    }

    a {
      color: var(--blue-color);
    }
  }
}