.about {

}

.about__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

.about__info {

}

.about__info-image img {
    border-radius: 50%;
    width: 50vw;
}

