.gradient {
    background: var(--main-gradient);
}

.separator-common {
    height: 2px;
    width: 100%;
    background: var(--black-color);
}

.button-common {
    border-radius: 6px;
    padding: 10px 40px;
    color: var(--white-color);
    background: var(--main-gradient);
}

.button-common:active {
}
