.gradient {
    background: var(--main-gradient);
}

.separator-common {
    height: 2px;
    width: 100%;
    background: var(--black-color);
}

.button {
    background: var(--main-gradient);
    padding: 20px 40px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    transition: .3s all ease;
    border-radius: 6px;
}

.button:hover {
    border: 1px solid var(--black-color);
}

.svgcontainer {
    position: fixed;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.icon-travel {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all ease;
    z-index: -10;
}