<footer>
  <ul>
    <li>
      <a href="https://stackoverflow.com/users/10053195/kletskovg?tab=profile" target="_blank">
        <img src="/assets/icons/stack-overflow.svg" alt="stack-overflow" width="40" height="40">
      </a>
    </li>
    <li>
      <a href="https://github.com/KletskovG" target="_blank">
        <img src="/assets/icons/github.svg" alt="GitHub" width="40" height="40">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/mb_42/" target="_blank">
        <img src="/assets/icons/instagram.svg" alt="Instagram" width="40" height="40">
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/gleb-kletskov-798445194/" target="_blank">
        <img src="/assets/icons/linkedin.svg" alt="LinkedIn" width="40" height="40">
      </a>
    </li>
  </ul>
</footer>