a {
  color: var(--black-color);
}

@keyframes bigtitle {
  0% {
    transform: translate(-1000vw);
  }

  100%{
    transform: translate(0);
    
  }
}

@keyframes home {
  0%{
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.big-title {
  font-family: 'TTFirsNeue-BlackItalic', sans-serif;
  font-style: italic;
  font-size: 25vw;
  display: block;
  width: 100vw;
  word-break: break-all;
  margin: -3% -5%;
  line-height: 24vw;
  // animation: bigtitle 0.5s ease 0 1 forwards;
  
  &.first {
    animation: bigtitle 0.5s ease  1  forwards;
  }
  &.second {
    animation: bigtitle 1s ease  1  forwards;
  }
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: relative;
  margin-top: 3%;
  animation: home 2.5s ease  1  forwards;

  .job-title {
    text-align: center;
  }

  .rightside {
    width: 50%;
    align-self: flex-start;

    &-info {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .avatar {
      border-radius: 50%;
      width: 10vw;
      height: 10vw; 
    }
  }

  .leftside {
    width: 50%;

    
  }
}

@media (max-width: 500px) {
  .home {
    flex-direction: column;
    padding: 5%;

    .leftside {
      width: 100%;
    }

    .rightside {
      
      width: 100%;
      
      .rightside-info {
  
      }

    }
  }
}

