<div class="signupform">
  <div class="input">
    <p class="input-desc"> Email address* </p>
    <input [(ngModel)]="email" type="email" placeholder="Your email">
    <p [class.error-active]="isErrorValid" class="error"> Email is invalid </p>
  </div>
  <div class="input">
    <p class="input-desc"> Password*</p>
    <input [(ngModel)]="password" type="password" placeholder="Your password">
    <p class="error"> Password must be at least 6 characters </p>
  </div>
  <div class="input">
    <p class="input-desc"> Repeat Password </p>
    <input [(ngModel)]="repeatPassword" type="password" placeholder="Repeat your password">
    <p class="error"> Passwords should match </p>
  </div>
  <button (click)="signUp()" class="submit-button">
    Sign up
  </button>

</div>