.Page__Main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-Social {
        .Link {
            margin-top: 10px;
        }
    }
}

@media (max-width: 400px) {
    .Page__Main {
        flex-direction: column;
    }
}
